:root {
  --utd-orange: #ec7524;
  --utd-green: #114634;

  --bg: #f7f7f7;
  --text: #1a1a1a;
}


.blue {
  border-left-color: var(--utd-green);
}

.green {
  border-left-color: var(--utd-orange);
}

.orange {
  border-left-color: var(--utd-green);
}

.pink {
  border-left-color: var(--utd-orange);
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, Arial, sans-serif;
}